<p class="sidebar_title">Information about rover</p>	
<p class="information">
  instruction: <%= current_rover.reload.instruction %>
</p>
<p class="information">
  done: <% if started? %>
          <%= current_rover.instruction.split('').[]0..current_rover.step-1 %>
        <% else %> -
        <% end %>
</p>
<p class="information">
  step: <%= current_rover.step %>
</p>
<p class="information">
  position:  (<%= current_rover.x_position %>,<%= current_rover.y_position %>)
</p>
<p class="information">
  direction: <%= current_rover.direction %>
</p>

