<p class="sidebar_title">Information about rover</p>	
instruction: <%= current_rover.instruction %><br>
done: <% if current_rover.step != 0 %>
        <%= current_rover.instruction.split('').[]0..current_rover.step-1 %>
      <% else %> -
      <% end %><br>
step: <%= current_rover.step %><br>
position:  (<%= current_rover.x_position %>,<%= current_rover.y_position %>)<br>
direction: <%= current_rover.direction %><br>
last action: <%= @last_action %>

