<%= render 'plato' %>
<div class="sidebar">
  <div class="sidebar_top">
    <%= render 'sidebar_for_started' %>
  </div>
  <div class="sidebar_bottom">
    <%= form_for(@rover) do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
      <div class="field">
        <label> Enter instruction </label><br>
        <%= f.text_field :instruction %>
      </div>
      <div class="actions">
        <%= f.submit "Go!" %>
      </div>
    <% end %>
  </div>
</div>

