<td class="main">
  <%= render 'plato' %>
</td>
<td class="sidebar">
  <table>
    <tr>
      <td class="sidebar_top">
        <%= render 'sidebar_for_started' %>
      </td>
    </tr>
    <tr>
      <td class="sidebar_bottom">
        <% if current_rover.step == 0 %>
          <%= render 'save_instruction_button' %>
        <% else %>
          <% if finished? %>
            <%= render 'finish_button' %>
          <% else %>
            <%= render 'go_button' %>
          <% end %>
        <% end %>
      </td>
    </tr>
  </table>
</td>

