<h1>Rovers</h1>

<% unless @rover.step.nil? %>
<p>
  instruction = <%= @rover.instruction %><br>
  done: <% if @rover.step != 0 %>
	  <%= @rover.instruction.split('').[]0..@rover.step-1 %>
	<% else %> -
	<% end %><br>
  y = <%= @rover.y_position %>   
  x = <%= @rover.x_position %>
  dir = <%= @rover.direction %><br>
  step = <%= @rover.step %> <%= @title %>
</p>
<% end %>

<p>
<% for i in  $coordinates.reverse %>
  <%= i %><br>
<% end %>
</p>

<% if @rover.step.nil? %>

  <%= form_for(:rover, :url => start_path) do |f| %>
    <div class="field">
      <%= f.label :instruction %><br />
      <%= f.text_field :instruction %>
    </div>
    <div class="actions">
      <%= f.submit "Start" %>
    </div>
  <% end %>
  <p><%= link_to "Start", start_path %></p>

<% else %>
<% if @rover.step < @rover.instruction.length %>

  <%= form_for(:rover, :url => go_path) do |f| %>
    <div class="actions">
      <%= f.submit "Go" %>
    </div>
  <% end %>
  <p><%= link_to "Go", go_path %></p>

<% else %>

  <%= form_for(:rover, :url => finish_path) do |f| %>
    <div class="actions">
      <%= f.submit "Finish" %>
    </div>
  <% end %>
  <p><%= link_to "Finish", finish_path %></p>

<% end %>
<% end %>




