<!DOCTYPE html>
<html>
<head>
  <title>MarsRovers</title>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>
  <div class="container">
    <table>
      <tr>
        <td class="main">
          <p>
            <% for i in  $coordinates.reverse %>
              <%= i %><br>
            <% end %>
          </p>
        </td>
        <td class="sidebar">
          <%= yield %>
        </td>
      </tr>
    </table>
  </div>
</body>
</html>
